<section>
  <a [href]="resume.contact.email" target="_blank"><i class="far fa-envelope"></i></a>
  <a [href]="resume.contact.linkedin" target="_blank"><i class="fab fa-linkedin"></i></a>
  <a [href]="resume.contact.gitlab" target="_blank"><i class="fab fa-gitlab"></i></a>
  <a [href]="resume.contact.github" target="_blank"><i class="fab fa-github"></i></a>
  <a [href]="resume.contact.facebook" target="_blank"><i class="fab fa-facebook"></i></a>
</section >