@import "~src/app/app.component.scss";

$transition-time: 0.2s;

section{
    color: $charleston-green;

    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;

    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 5;
    //box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.15);
    border-bottom: solid thin rgba(0, 0, 0, 0.1);
    background-color: $background-color;

    a {
        transition: 
            //font-size $transition-time, 
            //max-width $transition-time, 
            //margin $transition-time,
            color $transition-time;

        @media (max-width: $tablet){
            font-size: 24pt;
        };
        font-size: 36pt;
        max-width: 2.5em;
        margin: 0.3em;
        display: flex;
        justify-content: center;
        flex-grow: 1;

        color: $charleston-green;
        &:hover{
            color: lighten($charleston-green, 40);
        }
    }
}