@import "~src/app/app.component.scss";

section{
    background-color: $ebony;
    color: $light;
    padding: $section-padding;
    @media (max-width: $tablet) {
        padding: 1em;
    }
}
.columns{
    margin: 0; //Adds extra margin by default ‾\_(ツ)_/‾
}
.column{
    font-size: 22px;
    font-weight: 300;
}

.about-section-title{
    text-align: center;
}

.about-section-title i{
    font-size: 100px;
}

.about-section-content{
    padding: 20px;
    text-align: center;
}

a{
    color: $grey-lighter;
    font-weight: 500;
    text-decoration: underline;
}

a:hover{
    color: $grey;
}

.work-entry{
    margin-top: 20px;
}