<section>
    <div class="contentWrapper">
        <div class="columns">
            <div class="column is-one-third">
                <div class="about-section-title">
                    <i class="fas fa-home"></i>
                </div>
                <div class="about-section-content">
                    <ul>
                        <li *ngFor="let entry of resume.about">
                            {{entry}}
                        </li>
                    </ul>
                </div>
            </div>
    
            <div class="column is-one-third">
                <div class="about-section-title">
                    <i class="fas fa-graduation-cap"></i>
                </div>
                <div class="about-section-content">
                <h3>{{ resume.education.university }}</h3>
                    <ul> 
                        <li>{{ resume.education.school }}</li>
                        <li>{{ resume.education.degreeType }}</li>
                        <li>{{ resume.education.degree }}</li>
                        <li>{{ resume.education.gpa }}</li>
                        <li>{{ resume.education.year }}</li>
                    </ul>
                </div>
            </div>
    
            <div class="column is-one-third">
                <div class="about-section-title">
                    <i class="fas fa-hard-hat"></i>
                </div>
                <div class="about-section-content">
                    <div class="work-entry" *ngFor="let entry of resume.workHistory">
                        <a href="{{entry.link}}"><h3>{{entry.name}}</h3></a>
                        <ul>
                            <li>{{entry.position}}</li>
                            <li>{{entry.time}}</li>
                            <li>{{entry.location}}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>