
@import "~src/app/app.component.scss";

article {

    max-width: 50em;
    margin: min(4em, 5vw);

    p {
        text-align: left;
        text-indent: 2em;
        margin: 25px;
    }
    

    h1, h2, h3{
        padding: 0;
        margin: 5px;
    }

    h1 {
        font-size: min(36em, 5vw);
    }
    h2 {
        font-size: min(24em, 5vw);
    }
    h3 {
        font-size: min(18em, 5vw);
    }

    img{
        height: inherit;
        width: fit-content;
        margin: 1em auto;
        display: block;
    }

    .taglist{
        align-self: center;
        align-items: flex-start;
        text-align: center;
        flex-grow: 0;

        .tag{
            margin: 5px;
        }
    }

    .project .linklist{
        margin-top: 20px;
    }
}