<app-title #top></app-title>
<!-- <section>
    <img [src]="assets.comp" class="sucker"/>
</section> -->
<app-blurb [content]="resume.summary"></app-blurb>
<app-contact></app-contact>
<app-projects-list></app-projects-list>
<!-- <app-history></app-history> -->
<app-about></app-about>
<app-skill-list #skills></app-skill-list>