@import "~src/app/app.component.scss";

section{
    display: flex;
    flex-direction: column;
    align-content: center;
    //height: 100%;
    justify-content: center;
    padding: $section-padding 0;
    background-color: $background-color;
    min-height: $section-min-height;
    

    .contentWrapper{
        display:flex;
        justify-content:center;
        p{
            font-size: min(28pt, 8vw);
            // font-weight: 100;
            font-weight: 200;
            // text-shadow: 1pt 1pt 3pt rgba(0,0,0,0.3);
            color: rgba(0, 0, 0, 0.5);

            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            text-align: center;
            max-width: 800px;
            margin: 20px;
        }
    }
}
