<section class="rainbowBackground titleSection">
    <div class="contentWrapper">
        <h1>
            Tyler Darsey
        </h1>
        <h3>
            Frontend Developer
        </h3>
    </div>
</section>