@import "~src/app/app.component.scss";

.titleSection{
    background-color: $title-section-color;
    color: $light;
    display: flex;
    justify-content: center;
    min-height: $section-min-height;

    .contentWrapper{
        text-align: center;
    }

    a{
        text-decoration: underline;
        color: $light;
        &:hover{
            color: darken($color: $light, $amount: 20) ;
        }
    }

    h1, h2, h3, h4 {
        padding: 0.4rem;
        font-weight: 200;
    }

    h1{
        font-size: min(14vw, 6em);
    }
    h2{
        font-size:  min(5vw, 6em);
    }
    h3{
        font-size:  min(5vw, 1.6em);
    }


}