@import "~src/app/app.component.scss";

section{
    background-color: $ebony;
    color: $light;
    padding: $section-padding 0;
    min-height: 110vh;
    display: flex;
    align-content: center;
    align-items: center;
}

.contentWrapper{
    display: flex;
    flex-direction: row;
    justify-content:center;

    @media screen and (max-width: $tablet){
        flex-direction: column;
    }
}

.skill-set {
    text-align:center;
    margin: 25px 25px;
}

.skill-set li {
    font-size: 22px;
    font-weight: 300;
}

.skill-name{
    text-decoration: underline;
}
