<section>
    <div class="contentWrapper">
        <div *ngFor="let skill of resume.skills " class="skill-set">
            <p class="skill-name">{{ skill.name }}</p>
            <ul>
                <li *ngFor="let item of skill.items">{{ item }}</li>
            </ul>
        </div>
    </div>
</section>