@import "~src/bulma-generic.scss";
@import "~bulma/bulma";
@import "~src/variables.scss";
@import "~src/styles.scss";

$charleston-green: #2A2C24;
$ebony: #575A4B;
$deep-taupe: #816C61;
$rose-quartz: #A89B9D;
$soap: #CFCFEA;

$gainsboro: #CDDDDD;
$myrtle-green: #357266;
$cambridge-blue: #A3BBAD;
$outer-space: #3C4C50;

$title-section-color: $charleston-green;
$background-color: $white-ter;

$section-padding: 100px;
$section-min-height: 80vh;
