@import "~src/app/app.component.scss";

section{
    padding: $section-padding 0;
    background-color: $ebony;
    color: $light;
}

ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;

    li{
        display: flex;
        justify-content: center;
        border-left: solid 1px rgba(255, 255, 255, 0.2);
        width: 10em;
        padding: 2em;
    }

    li div{
        display: inline-block;

        //border-radius: 5em;
    }

    // li:nth-child(even) div{
    //     box-shadow: -2px 0px 0px 0px #000;
    // }

    // li:nth-child(odd) div{
    //     box-shadow: 2px 0px 0px 0px #000;
        
    // }

    // li:last-child div{
        
    // }
}

