<section>
    <div class="container">
        <ul>
            <li *ngFor="let item of resume.history">
                <div>
                    <h3>{{item.date}}</h3>
                    <p>{{item.description}}</p>
                </div>
            </li>
        </ul>
    </div>
</section>