<section>
  <div class="contentWrapper">
    <app-project *ngFor="let project of work" [project]="project"></app-project>
    <app-project *ngFor="let project of play" [project]="project"></app-project>
  </div>
</section>


