@import "~src/app/app.component.scss";

$background-color: mix($gainsboro, #FFF, 15);
// $background-line-color: darken($background-color, 5);
$grid-size: 30px;

section{
    padding: $section-padding 0;
    background-color: $background-color;

    // background-size: $grid-size $grid-size;
    // background-image:
    //     linear-gradient(to right, $background-line-color 1px, transparent 1px),
    //     linear-gradient(to bottom, $background-line-color 1px, transparent 1px);
}

.contentWrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
}